[submodule "anp-19-dice"]
	path = anp-19-dice
	url = https://github.com/krishnakanthb13/anp-19-dice
[submodule "anp-01-timestamp"]
	path = anp-01-timestamp
	url = https://github.com/krishnakanthb13/anp-01-timestamp
[submodule "anp-21-dice-lite"]
	path = anp-21-dice-lite
	url = https://github.com/krishnakanthb13/anp-21-dice-lite
[submodule "anp-02-metadata"]
	path = anp-02-metadata
	url = https://github.com/krishnakanthb13/anp-02-metadata
[submodule "anp-09-graph-utility"]
	path = anp-09-graph-utility
	url = https://github.com/krishnakanthb13/anp-09-graph-utility
[submodule "anp-15-kanban"]
	path = anp-15-kanban
	url = https://github.com/krishnakanthb13/anp-15-kanban
[submodule "anp-22-habit-streak"]
	path = anp-22-habit-streak
	url = https://github.com/krishnakanthb13/anp-22-habit-streak
[submodule "anp-23-grammar-reviewer"]
	path = anp-23-grammar-reviewer
	url = https://github.com/krishnakanthb13/anp-23-grammar-reviewer
